<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GLIT - OSINT Git by Trhacknon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <style>
        /* CSS personnalisé pour l'interface */
        body {
            background-color: #f7f7f7;
            color: #333333;
            font-family: Arial, sans-serif;
        }

        h1 {
            font-size: 30px;
            text-align: center;
            margin: 40px 0;
            color: #ff99cc;
        }

        form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
            color: #ff99cc;
        }

        input[type="text"],
        input[type="url"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #cccccc;
            border-radius: 3px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #ff99cc;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
    </style>
</head>
<body>
    <h1 class="animate__animated animate__bounceIn">GLIT - OSINT Git by Trhacknon</h1>

    <form method="POST" action="/search" class="animate__animated animate__fadeIn">
        <label for="userUrl">GitHub URL:</label>
        <input type="text" name="userUrl" id="userUrl" placeholder="Enter the GitHub URL (e.g., https://api.github.com/users/user)" required>

        <label for="allBranches">Get all branches:</label>
        <input type="checkbox" name="allBranches" id="allBranches">

        <label for="saveToFile">Save results to file:</label>
        <input type="checkbox" name="saveToFile" id="saveToFile">

        <input type="submit" value="Search">
    </form>

    <p style="text-align: center; color: #666666; margin-top: 20px;">Please enter the GitHub URL in the correct format: https://api.github.com/users/&lt;username&gt;</p>
</body>
</html>
