<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GLIT - OSINT Git by Trhacknon</title>
    <style>
        /* Votre CSS personnalisé pour l'interface */
    </style>
</head>
<body>
    <h1>GLIT - OSINT Git by Trhacknon</h1>

    <form method="POST" action="/search">
        <label for="userUrl">GitHub URL:</label>
        <input type="text" name="userUrl" id="userUrl" placeholder="Enter the GitHub URL" required>

        <label for="allBranches">Get all branches:</label>
        <input type="checkbox" name="allBranches" id="allBranches">

        <label for="saveToFile">Save results to file:</label>
        <input type="checkbox" name="saveToFile" id="saveToFile">

        <input type="submit" value="Search">
    </form>
</body>
</html>
